<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="51" android:versionName="2.1.7" package="com.suleymaniyetakvimi" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />
	<application android:label="@string/app_name" android:theme="@style/MainTheme" android:networkSecurityConfig="@xml/network_security_config" android:icon="@mipmap/icon" android:supportsRtl="true">
		<service android:name="com.suleymaniyetakvimi.AlarmForegroundService" android:foregroundServiceType="systemExempted">
			<!--<meta-data android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
			          android:value="Need update notification content continuously every 30 second, to let user know how much time left, without opening the app"/>-->
		</service>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.NOTIFICATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.USE_EXACT_ALARM" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED" />
	<!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />-->
</manifest>